:root {
  --background-color: #e5e5e5;
  --main-color: #212121;
  --focus-color: #2196f3;
  --font-color: #757575;
  --bg-color-accent: #2f303a;
  --white-element: #fff;
  --button-bg: #f5f4fa;
  --hover-effect: #188ce8;
  --link-color: #AFB1B8;

}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 94px 0px;
}

/*header*/
.hdr {
  display: flex;
  border-bottom: 1px solid #ECECEC;
}

.site-nav {
  display: inline-flex;
  align-items: center;
}

.site-nav .hdr-position+.hdr-position {
  margin-left: 50px;
}

.hdr-position {
  position: relative;
}

.contact-nav {
  display: inline-flex;
  margin-left: auto;
}

.contact-nav .hdr-position+.hdr-position {
  margin-left: 50px;
}

.item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item :hover {
  color: var(--focus-color);
}

.presence-effect {
  color: var(--focus-color);
}

.presence-effect::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--focus-color);

}

.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: var(--focus-color);
}

.web {
  color: var(--focus-color);
}

.link {
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link :hover,
.link :focus {
  color: var(--focus-color);
}

.link-contact {
  display: flex;
  align-items: center;
  color: var(--font-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  fill: var(--font-color);
  border: none;
  padding: 0;
  display: inline-block;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact:hover .header-icon,
.link-contact:focus .header-icon {
  fill: var(--focus-color);
}

.link-contact:hover,
.link-contact :focus {
  color: var(--focus-color);
}

/**hero**/
.hero {
  background: var(--bg-color-accent);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.overlay {

  margin-left: auto;
  margin-right: auto;

  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  width: 696px;
  margin: 0 auto;
  color: var(--white-element);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;
  margin-top: 30px;
  background: var(--focus-color);
  color: var(--white-element);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--hover-effect);
  color: var(--white-element);
}

/**peculiarities**/
.about-cont {
  display: flex;
}

.about-item {
  width: 270px;
  margin-right: 30px;
}

.about-cont :last-child {
  margin-right: 0;
}

.icon-cotainer {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--button-bg);
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.about-icon {

  display: flex;
  justify-content: center;


}

.about-us-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-us-text {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--font-color);
}

.job {
  padding-top: 0;
}

.job-title {
  margin-bottom: 50px;
  color: var(--main-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.job-photo {
  display: flex;
}

.job-photo-item {
  margin-right: 30px;
}

.job-photo-item:last-child {
  margin-right: 0px;
}

.job-overline {
  position: relative;
}

.job-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;


}

/**team**/
.team {
  background: var(--button-bg);
}

.team-title {
  color: var(--main-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team {
  margin-top: 50px;
  display: flex;
}

.our-team :last-child {
  margin-right: 0;
}

.team-list {
  background-color: var(--white-element);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.team-sit {
  padding: 30px 0;
}

.team-member {
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color);
}

.team-link {
  display: flex;
  justify-content: center;
  fill: var(--font-color);
  margin-top: 16px;
}

.team-link .team-link-item+.team-link-item {
  margin-left: 10px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  fill: var(--white-element);
  background-color: var(--focus-color);
}

/**clients**/
.client {
  padding: 94px 0;
}

.client-title {
  color: var(--main-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.client-list-item {
  fill: var(--link-color);
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--focus-color);
  border: 1px solid var(--focus-color);
  border-radius: 4px;
}

.client-list .client-list-item+.client-list-item {
  margin-left: 30px;
}

/**footer**/
.footer {
  background: var(--bg-color-accent);
  padding-bottom: 60px;
  padding-top: 60px;
}

.first {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white-element);
}

.adress {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-element);
}

.link-footer {
  margin-top: 9px;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
  color: var(--focus-color);
}

.footer-nav {
  display: block;
}

.footer-social {
  margin-left: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-element);
}

.footer-social-link {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  fill: var(--white-element);


}

.footer-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white-element);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-link-icon:hover,
.footer-link-icon:focus {
  fill: var(--white-element);
  background-color: var(--focus-color);
}

.footer-social-link .footer-social-icon+.footer-social-icon {
  margin-left: 10px;
}

.distribution {
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-element);
}

.distribution-form {
  outline: none;
  margin-top: 20px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--white-element);
  background-color: var(--bg-color-accent);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.distribution-form:focus,
.distribution-form:hover {
  border: 1px solid var(--hover-effect);
}

.mail-sent {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--white-element);
  background: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-sent:hover,
.mail-sent:focus {
  background: var(--hover-effect);
}

.btn-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-position>svg {
  margin-left: 10px;
}

.profile-button {
  background: var(--button-bg);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.presence-effect-button {
  background-color: var(--focus-color);
  color: var(--white-element);
}

.profile-button:hover,
.profile-button:focus {
  border-radius: 4px;
  background: var(--focus-color);
  color: var(--white-element);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-item {
  margin-right: 8px;
}

.list-item :last-child {
  margin-right: 0;
}

.galery {
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
}

.filter-item {
  width: 370px;
  margin-right: 30px;
  margin-top: 30px;

}

.filter-item-shadow {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item-shadow:hover,
.filter-item-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-item:nth-child(3n) {
  margin-right: 0;
}

.galery-item {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.portfolio-list-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-list-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--font-color);
}

.up-window {
  position: relative;
  overflow: hidden;
  ;

}

.up-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: var(--focus-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item:hover .up-text {
  transform: translateY(0);
}

.up-text-block {
  display: block;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;

  color: #FFFFFF;
}

/**modal-window**/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  ;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  position: absolute;
  min-width: 528px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal.is-hidden .modal-form {
  transform: translate(-50%, -50%)scale(0.9);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  fill: var(--focus-color);
  border: 1px solid var(--focus-color)
}

.registrated-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--font-color);
}

textarea {
  resize: none;
  width: auto;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 16px;
  padding-top: 12px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.holder::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

textarea:focus {
  border: 1px solid var(--focus-color);
}

.form-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-poition {
  position: absolute;
  left: 12px;
  bottom: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.input-size {
  height: 40px;
  width: auto;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-size:focus {
  border-color: var(--focus-color);
}

.input-size:focus~.form-poition {
  fill: var(--focus-color);
}

.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--font-color);
}

.agreement-link {
  text-decoration: underline;
  color: var(--focus-color);
}

.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;


}

.check-imitation {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
}

.check:checked+.check-imitation {
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-color: var(--focus-color);
  background-origin: border-box;
  border-color: var(--focus-color);
}

.form-button {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  background: var(--hover-effect);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--white-element);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background: var(--hover-effect);
}